<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<div class="background">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="container my-5">
        <h2 class="display-4 mt-3 text-center text-white">Our Team</h2>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image7.jpg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Ala’a Al-khdour
                        </h3>
                        <p class="member-desc">Generalist Programmer </p>
                        <p class="member-desc">id-aalkhdou@my.centennialcollege.ca
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image4.jpg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Angel Ayra Carino
                        </h3>
                        <p class="member-desc">Project Manager </p>
                        <p class="member-desc">id-acarino3@my.centennialcollege.ca
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image5.jpeg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Damanpreet Singh
                        </h3>
                        <p class="member-desc">Database Programmer
                        </p>
                        <p class="member-desc">id-dsing548@my.centennialcollege.ca
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image6.png" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">PaoHung Lin
                        </h3>
                        <p class="member-desc">Technical Artist
                        </p>
                        <p class="member-desc">id-
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image3.jpeg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Jenyll Mabborang
                        </h3>
                        <p class="member-desc">Lead Software Engineer
                        </p>
                        <p class="member-desc">id-jmabbora@my.centennialcollege.ca
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image2.jpg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Jane Kristel Solema
                        </h3>
                        <p class="member-desc">Security Programmer
                        </p>
                        <p class="member-desc">id-jsolema@my.centennialcollege.ca
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>