<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
    <!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    
    <!--content -->
          <section class="header-content">
             <h1>Welcome to <b><i>CenTech</i> Survey Site</b> </h1>
            <p> We are a dedicated group of people, who create free survey to cater<br>
                your research needs and make your life easier. Create your survey with us<br>
                and help others by answering their survey!</p>
            <a href="/api/register"><button>Get Started</button></a>
            <a href="/api/survey-list"><button>List of Surveys</button></a>
          </section>
 </div>